<div class="container">
    <h1>Angular Cookie Service</h1><br><br>
    <table class="table">
        <tr>
            <th>Is First Cookie Present</th>
            <td>{{isFirstCookie}}</td>
        </tr>
        <tr>
            <th>First Cookie Value</th>
            <td> {{firstCookieValue}}</td>
        </tr>
        <tr>
            <th>Is Second Cookie Present</th>
            <td>{{isSecondCookie}}</td>
        </tr>
        <tr>
            <th>Second Cookie Value</th>
            <td> {{secondCookieValue.name}}</td>
        </tr>
        <tr>
            <th>Is Third Cookie Present</th>
            <td>{{isThirdCookie}}</td>
        </tr>
        <tr>
            <th>Third Cookie Value</th>
            <td> {{thirdCookieValue}}</td>
        </tr>
    </table>
</div>
