<div class="container">
    <h3 class="text-center mt-4 mb-4">
        Student List
    </h3>
    <div class="d-flex flex-row-reverse bd-highlight mb-2">
        <div class="p-2 bd-highlight">
            <select class="custom-select" (change)="onTableSizeChanges($event)">
                <option *ngFor="let size of tableSizes" [ngValue]="size">
                    {{size}}
                </option>
            </select>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>City</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="text" class="form-control" [(ngModel)]="id" disabled>
                </td>
                <td>
                    <input type="text" class="form-control" [(ngModel)]="name">
                </td>
                <td>
                    <input type="text" class="form-control" [(ngModel)]="email">
                </td>
                <td>
                    <input type="text" class="form-control" [(ngModel)]="city">
                </td>
                <td>
                    <button class="btn btn-primary" (click)="addStudent()">Add</button>
                </td>
                <td>
                    <button class="btn btn-primary" (click)="updateStudent()">Update</button>
                </td>
            </tr>
            <tr *ngFor="let student of students | paginate: {
                itemsPerPage:tableSize,
                currentPage: page,
                totalItems: count
            }">
                <td>{{student.Id}}</td>
                <td>{{student.Name}}</td>
                <td>{{student.Email}}</td>
                <td>{{student.City}}</td>
                <td>
                    <button class="btn btn-danger" (click)="deleteStudent(student.Id)">Remove</button>
                </td>
                <td>
                    <button class="btn btn-warning" (click)="editStudent(student.Id)">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        (pageChange)="onTableDataChange($event)"
        >
        </pagination-controls>
    </div>
</div>
