<div class="conatiner">
    <h1>Product Info</h1>
    <table class="table">
        <tr>
            <th>Id</th>
            <td>{{product.id}}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{product.name}}</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>{{product.price}}</td>
        </tr>
    </table>
    <br><br>
    <button class="btn btn-primary" (click)="goHome()">Go to Home</button> &nbsp;&nbsp;&nbsp;
    <button class="btn btn-primary" (click)="goToProducts()">Go To Products</button>
</div>

