<div class="container">
    <h1>People Data</h1>
    <button class="btn btn-primary" (click)="addPeople()">Add People</button>&nbsp;&nbsp;
    <button class="btn btn-primary">Update People</button>&nbsp;&nbsp;
    <button class="btn btn-primary">Delete People</button>&nbsp;&nbsp;
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of people">
                <td>{{data.id}}</td>
                <td>{{data.name}}</td>
            </tr>
        </tbody>
    </table>
</div>
