<div class="container">
    <h1 class="heading">Services</h1>
    <div class="form-group">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td>{{product.id}}</td>
                    <td><a [routerLink]="['detail', product.id, product.name]">{{product.name}}</a></td>
                    <td>{{product.price}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
